<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 관련 -->
<mapper namespace="com.lsy.springMVC.mapper.MemberMapper">

	<resultMap id="memberMap" type="com.lsy.springMVC.vo.MemberVO">
		<result property="id" column="id" />
		<result property="email" column="email" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="mobile" column="mobile" />
	</resultMap>
	
	<!-- 로그인 체크 -->
	<select id="loginCheck" resultType="String">
		SELECT 
				name
		FROM member
		WHERE id = #{id} AND password = #{password}
	</select>
	
	<!-- 로그인한 사용자 정보 -->		
	<select id="viewMember" resultType="com.lsy.springMVC.vo.MemberVO">
		SELECT
				name,
				id,
				email,
				regdate
		FROM member	
		WHERE id = #{id} AND password = #{password}
	</select>	
	
</mapper>		